{% load django_bootstrap5 %}
<table class="container-fluid">   
  <h3>Поиск сотрудника</h3>
  <form method="GET" action=".">

    <div class="form-row">
        <div class="form-group col-10">
            <div class="input-group">
              <input class="form-control py-2 border-right-0 border" type="search" name="name_contains" placeholder="ФИО" />
            </div>
        </div>  
        
    </div>
    
    <br>
    <div class="form-row">
      <div class="form-group col-10">
          <div class="input-group">
            <input class="form-control py-2 border-right-0 border" type="search" name="employment_position_query" placeholder="Позиция" />
          </div>
      </div>     
    </div>
    <br>
    
    
    <table class="table table-striped">
      <th class="form-group col-md-2 col-lg-2">
        <label for="publishDateMin">Период с:</label>
        <input type="date" class="form-control" id="publishDateMin" name="date_min">
      </th>
      <th class="form-group col-md-2 col-lg-2">
        <label for="publishDateMax">Период по:</label>
        <input type="date" class="form-control" id="publishDateMax" name="date_max">
      </th>
    </table>
    
    <table class="table table-striped">
      <th class="form-group col-md-2 col-lg-2">
        <label for="salaryMin">Зарплата от:</label>
        <input type="number"  class="form-control" id="salaryMin" name="salary_min">
      </th>
      <th class="form-group col-md-2 col-lg-2">
        <label for="salaryMax">Зарплата до:</label>
        <input type="number"  class="form-control" id="salaryMax" name="salary_max">
      </th>
    </table>
    <br>
    
    <button type="submit" class="btn btn-primary">Поиск</button>
  </form>
</table>

<br>

<form method="post">
    {% csrf_token %}
    {{form}}
    <input class="btn btn-dark" type="submit"  value="Сортировать">
</form>
<br>

<div class="container-fluid ">
  <table id="table_id" class=" display text-center table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>ФИО</th>
        <th>Должность</th>
        <th>Дата приема на работу</th>
        <th>Зарплата</th>
        <th>Руководитель</th>
      </tr>
    </thead>
    <tbody>
      {% for employee in queryset %}
        <tr>
          <td>{{ employee.id }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.employment_position}}</td>
          <td>{{ employee.start_date }}</td>
          <td>{{ employee.salary }}</td>
          <td>{{ employee.parent }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

<br>

<div class="pagination">
    <span class="step-links">
        {% if queryset.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ queryset.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ queryset.number }} of {{ queryset.paginator.num_pages }}.
        </span>

        {% if queryset.has_next %}
            <a href="?page={{ queryset.next_page_number }}">next</a>
            <a href="?page={{ queryset.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>


 {% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.css"/>

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.js"></script>
<script>
    $(document).ready( function () {
    $('#table_id').DataTable({
    language: { search: '', searchPlaceholder: "Поиск сотрудника" },
    "info": false,
    paging: false,
    dom: 'B<"clear">lfrtip',
    }
    );
} );
</script>

{% endblock %}