<!DOCTYPE html>

{% load django_bootstrap5 %}
<html lang="en">
<head>
 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap-grid.min.css" integrity="sha512-i1b/nzkVo97VN5WbEtaPebBG8REvjWeqNclJ6AItj7msdVcaveKrlIIByDpvjk5nwHjXkIqGZscVxOrTb9tsMA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Employees</title>
</head>
<body>

  <div class="container">
    <div>
        <a href="/" class="btn btn-dark">Emploeeys tree</a>
        <a href="{% url 'employees' %}" class="btn btn-dark">Emploeeys list</a>
        {% if user.is_authenticated %}
        {% else %}
      {% endif %}
    </div>
</div>
  <br>
  <div class="container wrapper flex-grow-1">
    {% block content %}{% endblock %}
  </div>
</body>
</html>