<!DOCTYPE html>
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html lang="en">
<head>
   <meta charset="utf-8">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap-grid.min.css" rel="stylesheet" type="text/css">
 <title>Employees</title>
</head>
<body>

  <div class="container">
    <div>
        <a href="/" class="btn btn-dark">Emploeeys tree</a>
        <a href="{% url 'employees' %}" class="btn btn-dark">Emploeeys list</a>
        {% if user.is_authenticated %}
        {% else %}
      {% endif %}
    </div>
</div>
  <br>
  <div class="container wrapper flex-grow-1">
    {% block content %}{% endblock %}
  </div>
</body>
</html>